@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");
$maxWidth: 1920;
@mixin adaptive($property, $startSize, $minSize) {
	$addSize: $startSize - $minSize;
	#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
}
/* Обнуление */
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
/*--------------------------------------*/
.app {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background-color: #1f2632;
}
.advice {
	display: flex;
	flex-direction: column;
	align-items: center;
	@include adaptive('width', 650, 300);
	height: auto;
	padding: 0;
	@include adaptive('padding-left', 50, 15);
	@include adaptive('padding-right', 50, 15);
	background-color: #323a49;
	border-radius: 15px;
	font-family: Manrope, serif;

	&__title {
		color: #52ffa8;
		@include adaptive('font-size', 14, 10);
		letter-spacing: 3px;
		margin: 50px 50px 30px;
	}
	&__item {
		color: #CEE3E9;
		@include adaptive('font-size', 28, 20);
		@include adaptive('line-height', 44, 34);
		letter-spacing: 1.2px;
		text-align: center;
	}
	&__divider {
		margin: 30px 0 20px;
		@include adaptive('width', 444, 200);
		height: 16px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		&-line {
			display: block;
			@include adaptive('width', 194, 80);
			height: 2px;
			background-color: #404B5E;
		}
		&-container {
			display: flex;
			justify-content: space-between;
			@include adaptive('gap', 8, 5);
		}
		&-center {
			display: block;
			width: 6px;
			height: 15px;
			border-radius: 3px;
			background-color: #CEE3E9;
		}
	}
	&__button {
		display: flex;
		justify-content: center;
		align-items: center;
		transform: translateY(50%);
		@include adaptive('width', 70, 60);
		@include adaptive('height', 70, 60);
		background-color: #52ffa8;
		border-radius: 50px;
		transition: box-shadow ease 0.1s;
	}
	&__button:hover {
		box-shadow: 0px 0px 30px #52ffa8;
	}
}